<div class="ui raised segment">
  <button class="ui button right floated" (click)="show = !show">{{show ? 'Hide' : 'Add an Item'}}</button>
  <br><br>
  <div *ngIf="show">
    <form class="ui form">
      <div class="field">
        <label>Item</label>
        <input type="text" name="item" placeholder="Enter Item" #item>
      </div>
      <div class="field">
        <label>Price</label>
        <input type="text" name="item" placeholder="Enter Price" #price>
      </div>
      <div class="field">
        <label>Image</label>
        <input type="text" name="imageURL" placeholder="Enter Link to Image" #imageUrl>
      </div>
      <button class="ui primary button" type="submit" (click)="addItem(item.value,
      imageUrl.value, price.value)">Add the Item</button>
      <button class="ui button" type="reset">Cancel</button>
    </form>
  </div>
</div>

